body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 100%;
  width: 99%;
  margin: 0;
  padding: 0;
}


svg {
  width: 60%;
  height: 90%;
  visibility: hidden;

}

.sparkle {
  /* mix-blend-mode:luminosity */
}

body {
  margin: 0;

  text-align: center;
  padding: 0;

  line-height: 2.0em;

  font-family: 'Times New Roman', Times, serif;



  color: #000000;

}
